body{
    margin-top:30px;
}


.note{
    background:url('../images/note.png');
    width: 100%;
    height: 250px;
    position: relative;
}

.note p{
    position: absolute;;
    top: 80;
    left: 30;
    font-weight: bold;
}
